.activity-item {
  position: relative;
  display: flex;
  flex-direction: row;
  color: $purple;
  background-color: $white;
  border-bottom: 1px solid $grey_light;
  max-height: 300px;
  transition: max-height .8s linear;
  &__content {
    padding: 30px 30px 30px 80px;
    min-height: 100px;
    flex: 12;
    & a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__suspicious {
    position: relative;
    flex: 1;
    margin: 0 15px 0 15px;
    max-width: 14px;
    align-self: center;
    position: relative;
    display: inline;
    & span {
      position: absolute;
      min-height: 38px;
      min-width: 10rem;
      color: #FFFFFF;
      background: #000000;
      line-height: 1.2rem;
      text-align: center;
      visibility: hidden;
      border-radius: 1px;
      padding: 6px;
    }
    & span:after {
      content: '';
      position: absolute;
      top: 28px;
      left: 100%;
      width: 0; height: 0;
      border-left: 3px solid #000000;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }
    &:hover span {
      visibility: visible;
      opacity: 0.8;
      right: 100%;
      top: -40%;
      margin-top: -15px;
      margin-right: 15px;
      z-index: 999;
    }
    &:before {
      font-family: 'FontAwesome';
      font-size: 14px;
      content: '\f071'
    }
    &--untrusted-source {
      color: lightgrey;
    }
    &--unverified-signature {
      color: lightsalmon;
    }
  }
}

.activity-src- {
  &0 {
    color: $green;
  }
  &1 {
    color: $orange;
  }
  &2 {
    color: $blue;
  }
  &3 {
    color: $red;
  }
}

.activity-item__action {
  margin: 0 0 0.2rem 0;
  padding: 0;
  color: $grey_blue;
  @include font-size(13px);
  line-height: 1;
  font-weight: 400;
}
.activity-item__action__author {
  font-weight: bold;
}
.activity-item__action__target__text {
  padding-right: 0.15rem;
}
.activity-item__title {
  @include font-size(15px);
  line-height: 1.3;
  color: $grey_blue;
  margin: 0;
  font-weight: normal;
  @include width-from($medium_device) {
    @include font-size(17px);
  }
}

.activity-item__time {
  color: $grey_medium;
  @include font-size(13px);
  font-weight: 400;
  white-space: nowrap;
}

.activity-item__avatar {
  $size: 48px;
  @include circle($size);
  position: absolute;
  top: 25px;
  left: 17px;
  background-color: currentColor;
  text-align: center;
  line-height: $size;
}
.avatar__initials {
  color: $white;
  font-size: 22px;
  font-weight: 300;
}

.activity-error {
  position: relative;
  padding: 30px 30px 30px 80px;
  color: $default_text_color;
  background-color: $yellow_super_light;
  border-bottom: 1px solid $grey_light;
  &__title {
    font-size: $paragraphy-font--lede;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &__description {
    @include font-size(18px);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  &__icon {
    @include size(40px);
    position: absolute;
    top: 25px;
    left: 21px;
    @include svgAndPng('warning', no-repeat 50% 50%);
    background-size: contain;
  }
  &__actions {
    padding-top: 1rem;
  }
}

.hidden-new-activity {
 max-height: 0;
 border-bottom: 0;
}

$activities-message-font-size-big-device: 16px;
$activities-message-font-size-medium-device: 15px;
$activities-message-font-size-small-device: 14px;

.show-activities-message {
  max-height: 100px;
  font-size: $activities-message-font-size-big-device;

  @include width-to($medium_device) {
    font-size: $activities-message-font-size-medium-device
  }
  @include width-to($small_device) {
    font-size: $activities-message-font-size-small-device
  }
  padding: 10px;
}

.activities-message {
  transition: max-height .3s linear, padding .3s linear, margin .3s linear;
  position: relative;
  text-align: center;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.reveal-new-activities__link {
  background-color: white;
  color: #1ABC9C;
  cursor: pointer;
  @extend .activities-message;
  &.show-new-activities__link {
    @extend .show-activities-message;
    border-bottom: 1px solid #ECF0F1;
    &:hover {
      background-color: #F6F8F8;
    }
  }
}

.new-activities__error {
  @extend .activities-message;
  &.show-feed-activities__error {
    margin: 10px 0;
    @extend .flash-message--fail;
    @extend .show-activities-message;
  }
}