.activity-item {
  position: relative;
  min-height: 100px;
  padding: 30px 18px 30px 80px;
  border-bottom: 1px solid $grey_light;
  color: $purple;
  background-color: $white;
}

.activity-src- {
  &0 {
    color: $green;
  }
  &1 {
    color: $yellow;
  }
  &2 {
    color: $blue;
  }
  &3 {
    color: $red;
  }
}

.activity-item__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.activity-item__action {
  margin: 0 0 0.2rem 0;
  padding: 0;
  color: $grey_blue;
  @include font-size(13px);
  line-height: 1;
  font-weight: 400;
}
.activity-item__action__text {
  padding-right: 0.15rem;
}
.activity-item__title {
  @include font-size(17px);
  line-height: 1.1;
  color: $grey_blue;
  margin: 0;
  font-weight: bold;
  @include width-from($medium_device) {
    @include font-size(19px);
  }
}

.activity-item__time {
  color: $grey_medium;
  @include font-size(13px);
  font-weight: 400;
  white-space: nowrap;
}

.activity-item__avatar {
  $size: 48px;
  @include circle($size);
  position: absolute;
  top: 25px;
  left: 17px;
  background-color: currentColor;
  text-align: center;
  line-height: $size;
}
.avatar__initials {
  color: $white;
  font-size: 22px;
  font-weight: 300;
}
