.checkbox {
    @include size(16px);
    border: 1px solid $grey_medium;
    border-radius: 4px;
    cursor: pointer;
    &:after {
      content: '';
      @include middle-me;
      @include size(30px);
      background: transparent;
    }

    &--off {
        background-color: red;
    }
    &--some {
        background-color: orange;
    }
    &--on {
        background-color: green;
    }
}