.customise-feed {
  @include reset-list;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.feed-item {
  background-color: $white;
  border-bottom: 1px solid $grey_light;
  color: $purple;
  user-select: none;
  &:last-child {
    border-bottom-color: transparent;
  }
  &__fieldset {
    position: relative;
    padding: 0;
    border: 0;
  }
  &__children-list {
    @include reset-list;
    //margin-top: -15px;
    padding-bottom: 15px;
    padding-left: 0;
    font-weight: normal;
    //border-top: 1px solid $grey_light;
  }
  &__toggle-checkbox {
    position: absolute;
    top: 11px;
    right: 0;
  }
}

.feed-item__name {
  display: block;
  @include font-size(17px);
  line-height: 1.1;
  padding: 10px 0 10px 0;
  color: $grey_blue;
  @include width-from($medium_device) {
    @include font-size(19px);
  }
}

.feed-item__trusted {
  display: block;
  padding: 5px 20px 20px 20px;
  @include font-size(12px);
  font-weight: normal;
  line-height: 1.1;
  color: $blue;
  @include width-from($medium_device) {
    @include font-size(13px);
  }
}

.feed-item-child {
  background-color: $white;
  color: $purple;
  user-select: none;
}

.feed-item-child__label {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px;
}

.feed-item-child__name {
  @include font-size(16px);
  line-height: 1.1;
  color: $grey_blue;
  @include width-from($medium_device) {
    @include font-size(17px);
  }
}

.feed-item-child__checkbox {
  position: absolute;
  right: 0;
  @include vertical-middle-me;
  cursor: pointer;
}