.customise-feed {
  @include reset-list;
  margin-bottom: 1.5rem;
}
.feed-item {
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $grey_light;
  color: $purple;
  user-select: none;
  &:last-child {
    border-bottom-color: transparent;
  }
}

.feed-item__name {
  display: block;
  @include font-size(17px);
  margin: 0;
  padding: 30px 20px;
  line-height: 1.1;
  color: $grey_blue;
  font-weight: bold;
  @include width-from($medium_device) {
    @include font-size(19px);
  }
}

.feed-item__checkbox {
  position: absolute;
  right: 20px;
  @include vertical-middle-me;
}