.sign-in-promo {
  text-align: center;
}
.icon-d-cent {
  line-height: 45px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.8em;
  background: image-url('d-cent-sign-in-icon.png') no-repeat 50% 50%;
  background-size: 30px;
}

.button--sign-in {
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  white-space: normal;
  line-height: inherit;
}