.icon-d-cent {
  background-image: url('/static/d-cent-sign-in-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-in-form {
  display: inline-block;
  max-width: 15.5em;
  margin-bottom: 0.5em;
}
