.stream {
  list-style: none;
  padding: 0;
  margin: 0;
}

.activity-loading {
  &--spinner  {
    @include svgAndPng('spinner', no-repeat 50% 50%);
    background-size: contain;
    transform-origin: 50% 50%;
    animation: spinner .9s steps(8) infinite;
    height: 40px;
    width: 40px;
    margin: 0 auto;
  }
}