mixin headerSignedOut
  header.header
    .header__middle-container
      .header__logo: a.logo__link(href="./index") Mooncake
      .header__actions
        a.action-link.clj--STRIP.clj--sign-in__link.func--sign-in__link(href="./sign-in")
          span.action-link__title(data-l8n="content:default/sign-in-link") !Sign in


mixin headerSignedIn
  header.header
    .header__middle-container
      .header__logo.clj--header__logo: a.logo__link(href="./index") Mooncake
      .header__actions
        span.header__username.clj--username

        a.action-link.clj--STRIP(href="./customise-feed")
          span.action-link__icon.action-link__icon--cog
          span.action-link__title.visuallyhidden(data-l8n="content:default/nav-customise-feed") !Customise feed

        a.action-link.clj--STRIP.clj--sign-out__link.func--sign-out__link(href="./sign-out")
          span.action-link__title(data-l8n="content:default/sign-out-link") !Sign out
