mixin streamItem(title, sourceClass)
  li.activity-item.clj--activity-item(class=sourceClass)
    a.activity-item__link.clj--activity-item__link.func--activity-item__link(href="#")
      .activity-item__avatar
        span.avatar__initials.clj--avatar__initials !JB
      h2.activity-item__action.clj--activity-item__action.func--activity-item__action !JOANNAB - Objective - Create
      time.activity-item__time.clj--activity-item__time(datetime="10:32") !10:32am
      h3.activity-item__title.clj--activity-item__title.func--activity-item__title !#{title}
