mixin streamItem(title)
  li.activity-item
    a.activity-item__link(href="#")
      .activity-item__avatar
        span.avatar__initials JB
      time.activity-item__time(datetime="10:32") 10:32am
      h2.activity-item__action JOANNAB added an Objective
      h3.activity-item__title #{title}
