.button {
  display: inline-block;
  appearance: none;
  line-height: 1;
  padding: 20px 20px;
  @include font-size(18px);
  text-align: left;
  background-color: $cyan;
  border: none;
  color: $white;
  text-decoration: none;
  transition: background 250ms ease, color 250ms ease, box-shadow 250ms ease, transform 250ms ease, border 250ms ease;
  outline: 0;
  white-space: nowrap;
  @include no-select;
  transform-style: preserve-3d; // Fix safari text flicker (children need backface-visibility: hidden;)
  &:focus, &:hover {
    background-color: lighten($cyan, 1%);
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px -5px rgba(0,0,0,.35);
  }
  &:active {
    background-color: darken($cyan, 5%);
    outline: 0;
    transform: translateY(0);
    box-shadow: none;
  }

  // make it so .button.button--half-width
  &--half-width {
    width: 50%;
  }

  // make it so .button.button--full-width
  &--full-width {
    width: 100%;
  }

}
