label {
  cursor: pointer;
}

input {
  border-radius: 0;
}

.validation-summary {
  display: none;
  margin-bottom: 2rem;
  &--show {
    display: block;
  }
  &__list {
    @include reset-list;
    background-color: lighten($red,2%);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: 4px solid $error_color;
  }
  &__item {
    position: relative;
    padding-left: 30px;
    color: $error_color;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: "\f06a";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-family: FontAwesome;
    }
  }
}

.form-row {
  margin-bottom: 1.5rem;
  &--validation-error {
    $spacing: 1rem;
    border-left: 4px solid $red;
    padding: $spacing;
    margin-left: -$spacing;
    margin-right: -$spacing;
  }
  &__label {
    display: block;
  }
  &__title {
    display: block;
    margin-bottom: 0.5rem;
    @include font-size(18px);
    color: #5d5d5d;
  }
  &__help {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    @include font-size(14px);
    color: $purple;
  }
  &__validation {
    @include font-size(14px);
    color: $purple;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    &:empty, & {
      display: none;
    }
    .form-row--validation-error & {
      display: block;
    }
  }
  &__input {
    width: 100%;
    @include font-size(18px);
    padding: 0.65rem;
    background: $grey_super_light;
    border: 1px solid $grey_light;
    .form-row--validation-error & {
      border-color: $error_color;
    }
    &:focus {
      outline: 0;
      border-color: $cyan;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
      -webkit-text-fill-color: $blue;
    }
    &--small {
      @include width-from($small_device) {
        max-width: 250px;
      }
    }
  }
}

.login-form, .register-form {
  margin-bottom: 3rem;
}
