$header--height: 50px;
.header {
  height: $header--height;
  background: $purple;
  margin-bottom: 0.25rem;
  padding: 0 20px;
  @include width-from($medium_device) {
    margin-bottom: 1.5rem;
  }
}
.header__logo {
  height: $header--height;
}
.logo__link {
  display: inline-block;
  height: $header--height;
  line-height: 47px;
  font-size: 22px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.header__actions {
  position: absolute;
  right: 0;
  top: 0;
  color: $white;
}
.action-link {
  display: inline-block;
  line-height: $header--height;
  color: inherit;
  &, &:hover {
    text-decoration: none;
  }
  &:hover span {
    text-decoration: underline;
  }
}
.action-link__title {

}

.header__username {
  padding-right: 0.75rem;
}
