extends layout/layout

block vars
  - bodyClass = "func--create-account-page"
  - pageTitle = "!Create Account"
  - pageTitleDataL8n = "content:create-account/title"

block headerScripts

block content
  form.create-account-form.clj--create-account__form(action="./create-account", method="post", role="form")
    p.form-row.clj--username
      label.form-row__label
        span.form-row__title(data-l8n="content:create-account/username-label")
          | !Username
        span.form-row__validation.clj--username__validation(data-l8n="content:create-account/username-default-validation-message")
          | !Enter a username
        input.form-row__input.username-input.clj--username__input.func--username__input(type="text", id="username", name="username")
      button.button.button--full-width.func--create-account__button(type="submit" data-l8n="content:create-account/create-account-submit")
        | !Create account

