extends layout/layout

block vars
  - bodyClass = "func--customise-feed"
  - pageTitle = "!Customise feed"
  - pageTitleDataL8n = "content:customise-feed/title"

block headerScripts

block content
  .box
    h1(data-l8n="content:customise-feed/page-title") !Customise your feed
    p(data-l8n="content:customise-feed/page-intro") !Choose the information you'd like to receive updates on:

    form.customise-feed-form(action="", method="post")
      ul.customise-feed
        +feedItem('Objective 8', true)
        +feedItem('TFL updates')
        +feedItem('Future 8', true)
          +feedItemChild('Create', true)
          +feedItemChild('Comment', true)
          +feedItemChild('Question', true)
      button.button(type="submit", value="Save") Save