extends layout/layout

block vars
  - bodyClass = "func--customise-feed-page"
  - pageTitle = "!Customise feed"
  - pageTitleDataL8n = "content:customise-feed/title"
  - isSignedIn = true

block headerScripts

block content
  .box
    h1.page-title(data-l8n="content:customise-feed/page-title") !Customise your feed
    p(data-l8n="content:customise-feed/page-intro") !Choose the information you'd like to receive updates on:

    form.customise-feed-form.clj--customise-feed__form(action="./", method="post")
      ul.customise-feed.clj--customise-feed__list.func--customise-feed__list
        +feedItem('Objective 8', true, true)
        +feedItem('TFL updates', false)
        +feedItem('Future 8', true, true)
          +feedItemChild('Create', true)
          +feedItemChild('Comment', true)
          +feedItemChild('Question', true)
      button.button.func--customise-feed__submit(type="submit", value="Save") Save