extends layout/layout

block vars
  - bodyClass = "func--feed-page"
  - pageTitle = "!Activities"
  - pageTitleDataL8n = "content:feed/title"

block headerScripts

block content
  ul.stream.clj--activity-stream
    +emptyStreamItem
