extends layout/layout

block vars
  - bodyClass = "func--feed-page cljs--feed-page"
  - pageTitle = "!Activities"
  - pageTitleDataL8n = "content:feed/title"

block headerScripts

block content
  a.reveal-new-activities__link.func--reveal-new-activities__link(href )
  ul.stream.clj--activity-stream.func--activity-stream
    //+streamItemWarning()
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-0', true)
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1', false, true)
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-2')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-3')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1', true)
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-4', false, true)
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-2')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-3')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB', 'created an objective', 'activity-src-1')
  .activity-nav-links
    a.button.newer-activities-link.clj--newer-activities__link.func--newer-activities__link(href data-l8n="content:feed/newer-link") !newer
    a.button.older-activities-link.clj--older-activities__link.func--older-activities__link(href data-l8n="content:feed/older-link") !older
  .activity-loading--spinner.clj--STRIP