extends layout/layout

block vars
  - bodyClass = "func--feed-page"
  - pageTitle = "!Activities"
  - pageTitleDataL8n = "content:feed/title"

block headerScripts

block content
  ul.stream.clj--activity-stream.func--activity-stream
    +streamItemWarning()
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-1')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective','activity-src-0')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-2')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-3')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective')
    +streamItem('How much wood can a woodchuck chuck if a woodchuck could chuck wood?', 'JOANNAB',  'asked a question','activity-src-1')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective','activity-src-0')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-2')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-3', false)
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-1')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-1', false)
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective','activity-src-0')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-2')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-3')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-1')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB',  'created an objective','activity-src-0')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB',  'created an objective','activity-src-2')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB',  'created an objective','activity-src-3')
