extends layout/layout

block vars
  - bodyClass = "func--index-page"
  - pageTitle = "!Activities"
  - pageTitleDataL8n = "content:index/title"

block headerScripts

block content
  ul.stream.clj--activity-stream
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB - Objective - Create')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB - Objective - Create','activity-src-1')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB - Objective - Create','activity-src-1')
    +streamItem('Increase bike safety in Soho by 30%', 'JOANNAB - Objective - Create','activity-src-0')
    +streamItem('Free school dinners for all children under the age of 10', 'JOANNAB - Objective - Create','activity-src-2')
    +streamItem('The UK should produce its electricity needs via wind power', 'JOANNAB - Objective - Create','activity-src-3')
