extends layout/layout

block vars
  - bodyClass = ""

block title
  | Demo

block headerScripts

block content
  ul.stream
    +streamItem('Increase bike safety in Soho by 30%')
    +streamItem('Free school dinners for all children under the age of 10')
    +streamItem('The UK should produce its electricity needs via wind power')
    +streamItem('Increase bike safety in Soho by 30%')
    +streamItem('Free school dinners for all children under the age of 10')
    +streamItem('The UK should produce its electricity needs via wind power')