extends layout/layout

block vars
  - bodyClass = "func--sign-in-page"
  - pageTitle = "!Sign in"
  - pageTitleDataL8n = "content:sign-in/title"

block headerScripts

block content
  a.button--sign-in.clj--sign-in-with-d-cent.func--sign-in-with-d-cent(href="#")
    span.icon-d-cent
    span(data-l8n="content:sign-in/sign-in-with-d-cent") !Sign in with D-Cent
